{% extends "base.html" %}

{% block title %}Admin Sibatikgal - Tambah Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block menu_user %}active{% endblock %}

{% block page_name %}Manajemen User{% endblock %}

{% block content %}
<div class="head-title">
    <div class="left">
        <h1>Tambah Akun Admin</h1>
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a href="{{ url_for('user_manager.index') }}">Users</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Tambah Admin</a></li>
        </ul>
    </div>
</div>

<div class="table-data">
    <div class="order user-form-container">
        <form action="{{ url_for('user_manager.create') }}" method="POST">

            <!-- BUNGKUS GRID BIAR BERDAMPINGAN SEIMBANG -->
            <div class="user-form-grid">
                <div class="user-group">
                    <label class="user-label">Username Lengkap</label>
                    <input type="text" name="username" class="user-input"
                        placeholder="Masukkan nama admin..." required>
                </div>

                <div class="user-group">
                    <label class="user-label">Alamat Email</label>
                    <input type="email" name="email" class="user-input" placeholder="contoh@gmail.com"
                        required>
                </div>

                <div class="user-group">
                    <label class="user-label">Password Sementara</label>
                    <input type="password" name="password" class="user-input"
                        placeholder="Minimal 6 karakter" required minlength="6">
                </div>

                <div class="user-group">
                    <label class="user-label">Role Akses</label>
                    <input type="text" class="user-input" value="Admin" disabled>
                </div>
            </div>

            <div class="user-actions">
                <a href="{{ url_for('user_manager.index') }}" class="btn-cancel">Batal</a>
                <button type="submit" class="btn-save"><i class='bx bxs-user-plus'></i> Buat Akun Admin</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}